*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
:root {
    --main-color:#23272a;
    --secondary-color:#cf8a22;
    --body-color:#f8f8f8;
    --background-item-color:#e4e4e4;
}
body {
    background-color: var(--body-color);
}
// start Header 
 header{
    
    .navbar-brand {
        font-size:23px;
        font-weight: bold;
        color:white;
        img {
            height:24px;
            width:24px;
        }
        span {
            margin-left: 4px;
        }
    }
    .navbar-toggler{
        color:white;
        &:focus , &:hover , &:active {
            box-shadow: none;
        }
    }
    .navbar-collapse {
        justify-content:flex-end;
        .nav-link {
            color:white;
            margin-left:10px;
            transition: color .4s ease-in-out;
            &:hover {
                color:var(--secondary-color);
            }
            &::after {
                content: "|";
                padding-left:10px;
            }
        }
    }

 }   

// Tested Successfully
// End Header

// Start Heading Section 
.heading {
    position: relative;
    .row {
        --bs-gutter-x:0;
    }
    .container-fluid {
        padding-left: 0;
        padding-right: 0;
    }
    
    .heading-content {
        height: 100%;
        padding-left:20%;
        padding-top:150px;
        color:white;
        background-color: var(--main-color);
        h2 {
            font-size:45px;
            line-height: 1.2;
            margin-bottom: 25px;
            span {
                color:var(--secondary-color);
            }
        }
        .divider {
            height:2px;
            background-color: gray;
            margin-top:30px;
        }
        .heading-statis {
            display: flex;
            margin-top:30px;
            h4 {
                margin-bottom: 20px;
                font-weight: bold;
                font-size: 30px;
                color:var(--secondary-color)
            }
            span {
                display: inline-block;
                margin-bottom: 10px;
                font-weight: bold;

            }
        }
    }
    .heading-img {
        height: 100%;
        img {
            width:100%;
            height:100%;
        }
    }
    .scroll {
        height:100px;
        width:100px;
        background-image: url("../images/scroll.png");
        background-size: cover;
        background-repeat: no-repeat;
        position: absolute;
        left:46%;
        top:50%;
        animation: animation1 .5s ease-in-out infinite alternate;
        cursor: pointer;
    }
}
@media (min-width:728px) {
    .heading .row>* {
        padding-right: 0;
    }
}
@media (max-width:727px) {
   .heading .heading-content {
        padding-left: 0;
        text-align: center;
        h2 {
            font-size: 25px;
        }
    }
    .heading .scroll {
        top:2%;
        left:40%;
        
    }
   
}
@keyframes animation1 {
    0%{
        transform: translateY(-5px);
    }
    100%{
        transform: translateY(0);
    }
  
}

// Tested not Succesfully => There is a Height Bug
// End Heading Section

// Start speciality Section
.speciality {
    padding-top:30px;
    .speciality-content {
        position: relative;
       h5 {
           font-weight: bold;
           font-size:30px;
           line-height: 1.5;
       }
       &::before {
           content: "";
           width:50px;
           height:2px;
           background-color: var(--secondary-color);
           position: absolute;
           left:-40px;
           top:20px;
           transform: rotateZ(90deg);

       }
    }
    a.button {
        padding:7px 20px;
        background-color:black;
        color:white;
        float: right;
        &:hover{
            box-shadow:0 0 10px var(--main-color);
        }
    }
    .items {
        margin-top: 150px;
        .item {
            padding:40px;
            box-shadow: 0 0 10px rgba(0,0,0,.4);
            border-radius: 10px;
            .card {
                background-color:transparent;
                border:none;
                perspective: 2000px;
                img {
                    width:100px;
                    height:100px;
                    transition: all .5s ease-in-out;
                    &:hover {
                        transform: translateY(-10px);
                    }
                }
                .card-title {
                    margin-top:15px;
                }
            }
        }
    }
}

@media (max-width:727px) {
    .items {
        .item {
            text-align: center;
            margin-bottom: 10px;
            img {
                margin: auto;
            }
        }
    }
   .speciality {
    .speciality-content {
        h5 {
            font-size: 25px;
        }
        &::before {
            left:-30px
        }
    }
   }
}
// Tested Successfully
// End speciality Section


// Start Products section
.products {
    padding-top:120px;
    .products-content {
        position: relative;
       h5 {
           font-weight: bold;
           font-size:30px;
           line-height: 1.5;
       }
       &::before {
           content: "";
           width:50px;
           height:2px;
           background-color: var(--secondary-color);
           position: absolute;
           left:-40px;
           top:20px;
           transform: rotateZ(90deg);

       }
    }
    a.button {
        padding:7px 20px;
        background-color:black;
        color:white;
        float: right;
        &:hover{
            box-shadow:0 0 10px var(--main-color);
        }
    }
.categories {
    margin-top: 50px;
    .categories-item {
        position: relative;
        &::after{
            content: "";
            width:70px;
            height:2px;
            background-color:gray;
            position: absolute;
            top:10px;
            right:0;
            transform: rotateZ(-90deg);
        }
        h5 {
            font-weight: 400;
            cursor: pointer;
            &:hover {
                text-shadow: 0 0 10px rgba(0,0,0,.5);
            }
            &:active , &:focus {
                font-weight: bold;
            }
        }
    }
}
.items {
    margin-top: 90px;
    .item-content {
        margin-bottom: 10px;
        perspective: 2000px;
        padding:20px;
        .card {
           box-shadow: 0 0 10px rgba(0,0,0,.5);
            background-color: transparent;
            border:none;
            
            .img-content {
                perspective: 2000px;
                padding:10px;
                background-color:var(--background-item-color);
                position: relative;
                img {
                    width:150px;
                    height: 150px;
                    transition: all .5s ease-in-out;
                    &:hover {
                        transform: translateY(-10px);
                    }
                }
                span {
                    position:absolute;
                    right: 10%;
                    bottom:-10%;
                    height:40px;
                    width:40px;
                    background-color:var(--main-color);
                    border-radius: 50%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    cursor: pointer;
                    overflow: hidden;
                    transition: all .5s ease-in-out;
                    i {
                        color:white;
                       
                    }
                    &:hover {
                        transform: translateY(-10px);
                    }
                    
                }
            }
            
            .card-body {
                background-color: white;
                border-radius:10px;
            }

        }
    }
}
}

@media (max-width:727px) {
    .categories{
        text-align: center;
        .categories-item {
            margin-bottom: 20px;
            &::after{
                display: none;
            }
        }
        
    }
    .products {
        .products-content {
            h5 {
                font-size: 25px;
            }
            &::before {
                left:-30px
            }
        }
       }
}

// Tested Successfully
// End Products Section


// Start Offer Section
.offers {
    padding-top: 150px;
        .offers-content {
            position: relative;
           h5 {
               font-weight: bold;
               font-size:30px;
               line-height: 1.5;
           }
           &::before {
               content: "";
               width:50px;
               height:2px;
               background-color: var(--secondary-color);
               position: absolute;
               left:-40px;
               top:20px;
               transform: rotateZ(90deg);
    
           }
        
    }
    .row {
        margin-top:100px;
        .img {
            
            position: relative;
            img:not(.second-img) {
                width:100%;
                border-radius: 10px;
            }
            .second-img {
                height:150px;
                width:150px;
                position: absolute;
                top:30%;
                right:-10%;
                border-radius: 10px;
            }
           
        }
        .offer-control {
            padding-left:80px;
            h3 {
                font-weight: bold;
                font-size:30px;
                margin-bottom: 20px;
            }
            h5 {
                font-size:25px;
                font-weight: 700;
            }
            p {
                color:rgb(88, 88, 88);
                margin-top: 30px;
                line-height: 1.6;
                margin-bottom: 30px;
            }
            a.main-button {
                padding:7px 20px;
                background-color: black;
                color:white;
                transition: all .5s ease-in-out;
                &:hover {
                    box-shadow: 0 0 10px var(--main-color);
                }
            }
            a.second-button {
                margin-left: 40px;
            &:hover i{
                transform: translateX(10px);
            }
                i {
                    margin-left:5px;
                    transition: all .5s ease-in-out;
                }
            }
        }
    }
} 

@media (max-width:727px) {
   
  .offers {
    .row {
        .offer-control {
            text-align: center;
            padding-left:0;
        }
        .img {
            margin-bottom: 10px;
            
            .second-img {
                right:0;
            }
        }
    }
  }
}
// not Tessted
// End Offer Section


// Start brand section
.brand {
    margin-top:80px;
   .row {
       div {
           padding:20px;
           border-top:1px solid var(--background-item-color);
           border-bottom: 1px solid var(--background-item-color);
           margin-left:20px;
           img {
               width: 100%;
               padding:20px;
               filter: blur(3px);
               transition: all .3s ease-in-out;
               &:hover {
                   filter: blur(0);
               }
           }
       }
   }
}

@media (min-width:728px) and (max-width:992px) {
    .brand {
        .row {
            div {
                margin-left: 0;
            }
        }
    }
}
@media (max-width:727px) {
    .brand {
        .row {
            div {
                margin-left: 0;
                img {
                    padding: 30px;
                }
            }
        }
    }
}
// End brand Section



// Start Footer
footer {
    padding-top:50px;
    padding-bottom: 20px;
    background-color: var(--main-color);
    color:white;
    .row.footer {
        a {
            background-color:var(--secondary-color);
            color:white;
            margin-left: 4px;
            i {
                transform: rotateZ(-30deg);
                &:hover {
                    color:var(--main-color);
                }
            }
        }
        >div {
           p{
               color:gray;
           }
        }
        >div:not(:first-of-type) {
            padding-top:70px;
            p {
                margin-bottom: 5px;
            }
        }
        >div:first-of-type {
            h4 {
                margin-bottom: 40px;
                letter-spacing: 5px;
            }
        }
       
    }
    .divider {
        background-color: gray;
        height:2px;
        margin-top: 30px;
        margin-bottom: 30px;

    }
        i {
            margin-left:5px;
            cursor: pointer;
            transition: all .5s ease-in-out;
            &:hover {
                color:var(--secondary-color);
                transform: translateY(-5px);
            }
        }
        .copyright {
            text-align: right;
        }
    
    
}

@media (max-width:727px) {
    footer {
        text-align: center;
        .copyright {
            text-align: center;
        }
    }
}
// End Footer